// Colors
$iris-primary-color: #2A2940;
$iris-secondary-color: #EE9D3E;
$iris-nav-link-color: #9898AA;

$iris-light-orange: #F7F1EA;

$iris-primary-gradient: linear-gradient(95.56deg, #5A577B 0%, #2A2840 104.29%);

// Fonts
$iris-body-font: 'Circular Std';
// $iris-body-font: 'Circular Std Medium';
$iris-title-font: 'New York Extra Large';

// Responsive breakpoints - zion builder
$mobile : 575px;
$tablet: 767px;
$laptop: 991px;
$desktop-xl: 1400px;